<mat-toolbar color="primary">
  {{animal.name}}
</mat-toolbar>

<div class="button">
  <button routerLink="/" mat-fab color="primary" >
    <mat-icon>home</mat-icon>
  </button>
</div>

<div class="details" fxLayout="row wrap">
  <div class="image" fxFlex="50%" fxFlex.xs="100%">
    <img src="{{animal.photo}}" onerror="this.onerror=null; this.src='https://rlv.zcache.fr/creez_votre_propre_affiche-rfe1de505846b4b0dada5083dad98f133_wvk_8byvr_540.webp'" alt="{{animal.name}}">
  </div>

  <div fxFlex="50%" fxFlex.xs="100%" >
    <div class="container">
      <form >
        <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Son nom" [(ngModel)]="animal.name" name="name" required>
            <mat-icon color="primary" matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Espece</mat-label>
            <input matInput placeholder="Especes" [(ngModel)]="animal.species" name="species">
            <mat-icon color="primary" matSuffix>adb</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Commentaire</mat-label>
            <textarea matInput placeholder="Commentaire" [(ngModel)]="animal.comment" name="comment"></textarea>
            <mat-icon color="primary" matSuffix>textsms</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Veterinaire</mat-label>
            <input matInput placeholder="Veterinaire" [(ngModel)]="animal.veterinarian" name="veterinarians">
            <mat-icon color="primary" matSuffix>person_pin</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="animal.email" name="email">
            <mat-icon color="primary" matSuffix>email</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput placeholder="Phone number" [(ngModel)]="animal.phoneNumber" name="phone">
            <mat-icon color="primary" matSuffix>phone</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Photo</mat-label>
            <textarea matInput placeholder="Photo" [(ngModel)]="animal.photo" name="photo" required></textarea>
            <mat-icon color="primary" matSuffix>insert_photo</mat-icon>
          </mat-form-field>
        </p>
        <button type="button" *ngIf="isCreation" (click)="onSubmit()"  mat-raised-button color="primary">Save</button>
        <button type="button" *ngIf="!isCreation" (click)="onSubmit()" mat-raised-button color="primary">Update</button>
        <button type="button" (click)="onDelete()" mat-raised-button color="primary">Delete</button>
      </form>
    </div>
  </div>
</div>
