<mat-toolbar color="primary">
  Les vétérinaires
</mat-toolbar>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let vet of veterinarians">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{vet.firstName}}</mat-card-title>
        <mat-card-subtitle>{{vet.lastName}}</mat-card-subtitle>
      </mat-card-header>
      <img class="img-responsive img-thumbnail ratio-4-3" mat-card-image src={{vet.photo}} alt="{{vet.firstName}}">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
    </div>
</div>
